body{
  background-color: rgb(240, 234, 215);
}
h1{
    color:rgb(72, 118, 226);
    font-size: 35px;
    font-family: Georgia;
    font-weight: bold;
    font-style: unset;
    text-align: center;
    text-decoration: solid;
}
p{
  color:rgba(57, 116, 255, 0.738); 
  font-size: 25px;
  font-family: serif;
  text-align: justify;
  line-height: 25px;
  letter-spacing: 5px;
  word-spacing: 10px;
}

footer{
  color:rgba(49, 102, 226, 0.596);
  font-size: medium;
  font-weight: lighter;
  background-color: rgba(90, 167, 205, 0.878);
  text-align: justify;
}